<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Lost Items Search Page</title>
</head>

<body style="font-family: monospace; margin: 10px 5%; display: flex; justify-content: center; flex-direction: column;">
    <h1 class="text-center" style="margin: 25px 0;">Lost Items Search Page</h1>

    <a href="http://127.0.0.1:8000/index/">Return to Main Page :D</a>

    <form action="" method="GET" style="margin: 10px 0;">

        <input type text="text" name = "q">

        <input type="submit" value="Search">

    </form>

    <div style="margin: 50px 5% 30px 5%; display: flex; justify-content: space-between;">
        <div style="width: 46%;">
            <h2 style="margin-left: 5%;">lost Item Results</h2>
            <table class="table table-hover" style="border: 1px solid;">
                <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Catagory</th>
                        <th>Date</th>
                    </tr>
                </thead>

                <tbody>
                    {% for lostitem in relevant_lostitems %}
                        <tr>
                            <td><a href="{% url 'detail' lostitem.id %}">{{ lostitem.title }}</a></td>
                            <td>{{ lostitem.catagory }}</td>
                            <td>{{ lostitem.date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
        
        <div style="width: 46%;">
            <h2 style="margin-left: 5%;">Found Item Results</h2>
            <table class="table table-hover" style="border: 1px solid;">
                <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Catagory</th>
                        <th>Date</th>
                    </tr>
                </thead>

                <tbody>
                    {% for founditem in relevant_founditems %}
                        <tr>
                            <td><a href="{% url 'detail' founditem.id %}">{{ founditem.title }}</a></td>
                            <td>{{ founditem.catagory }}</td>
                            <td>{{ founditem.date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>

</body>